* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cabin", sans-serif;
  background-color: #a9a9a9;
  overflow-x: hidden;
}

.linea-final {
  text-align: end;
}

.f-personal {
  background-color: #a9a9a9;
}

.i-pesonal {
  display: flex;
  justify-content: space-between;
}

.i-pesonal div {
  width: 49%;
}

.p-personal {
  background-color: rgba(0, 0, 0, 0.5);
}

.mi-lista img {
  width: 40px;
}

.ul-personal li {
  list-style: none;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-contact span {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(255, 187, 0);
}
.footer-contact .span {
  font-size: 12px;
}

@media (max-width: 768px) {
  .footer-contact {
    flex-direction: column;
  }
}
.img-barcas {
  width: 100%;
  object-fit: cover;
  box-shadow: 15px 15px 30px rgba(46, 45, 45, 0.8);
}

.accion {
  text-transform: uppercase;
}

.navbar-container {
  width: 100%;
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
  transition: 1s;
}
.navbar-container a {
  letter-spacing: 3px;
}

.efecto {
  background-color: white;
}

@media (max-width: 768px) {
  .centrado {
    text-align: center;
  }
  .img-barcas {
    box-shadow: 5px 30px 30px rgba(46, 45, 45, 0.8);
  }
}
.main-section .contenedor .flex-card-box .box-name {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.main-section {
  padding: 30px 0;
}
.main-section .contenedor {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
.main-section .contenedor .flex-card {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.main-section .contenedor .flex-card-box {
  background: rgba(29, 116, 247, 0.6078431373);
  color: #000080;
  flex: 1;
  padding: 20px;
  border-radius: 20px;
}
.main-section .contenedor .flex-card-box img {
  width: 120px;
  border-radius: 20px;
}
.main-section .contenedor .flex-card-box .nombre {
  text-transform: uppercase;
  color: #ffcb47;
}
.main-section .contenedor .flex-card-box .cargo {
  font-size: 25px;
  font-weight: 500;
  color: black;
}
.main-section .contenedor .sombra {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6509803922);
  transition: 0.5s;
}
.main-section .fundador {
  max-width: 800px;
}

.espacio {
  margin: 80px auto;
}
.espacio .titulo {
  text-transform: uppercase;
  text-align: center;
}
.espacio .description {
  text-align: center;
}

.sombra:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .main-section .flex-card {
    align-items: center;
    flex-direction: column;
  }
  .main-section .flex-card .box-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .main-section .flex-card .parrafo {
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
.custom-comment {
  font-size: 35px;
  font-weight: 950;
  margin-top: 20px;
}

.custom-p {
  font-size: 18px;
  margin-top: 30px;
}

.card-img-filter {
  filter: brightness(0.6);
}

.card {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.anima-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.anima-right {
  animation: slide-in-right 0.5s;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.comentario {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/bg-comentario.jpg);
}

.d-item {
  height: 700px;
}

.c-img {
  height: auto;
  object-fit: cover;
  filter: brightness(0.6);
}

.main {
  background-color: #a9a9a9;
}

.header, .h-nosotros, .h-turismo, .h-pesca, .h-barca, .h-index {
  background-position: center;
  background-size: cover;
}

.h-index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/bg-image.jpg);
}

.h-barca {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/bg-barca.jpg);
}

.h-pesca {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/bg-pesca.jpg);
}

.h-turismo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/bg-turismo.jpg);
}

.h-nosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6509803922), rgba(128, 128, 128, 0.6549019608)), url(../img/equipo1.jpg);
}

.img-logo {
  width: 50px;
  border-radius: 50%;
  padding-right: 8px;
}

.min-vh-50 {
  height: 50vmin;
}

@media (max-width: 580px) {
  .min-vh-50 {
    height: 60vmax;
  }
}

/*# sourceMappingURL=style.css.map */
