%box-flexible {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}


.main-section {
    padding: 30px 0;

    .contenedor {
        max-width: 1400px;
        margin: 0 auto;
        padding: 0 30px;

        .flex-card {
            display: flex;
            gap: 40px;
            margin-bottom: 30px;

            &-box {
                background: $bg-card;
                color: $text-color-card;
                flex: 1;
                padding: 20px;
                border-radius: 20px;

                .box-name {
                    @extend %box-flexible;
                }

                img {
                    width: 120px;
                    border-radius: 20px;
                }

                .nombre {
                    text-transform: uppercase;
                    color: $titulo-card;
                }

                .cargo {
                    font-size: 25px;
                    font-weight: 500;
                    color: $color-cargo;
                }
            }
        }

        .sombra {
            box-shadow: $shadow-card;
            transition: 0.5s;
        }
    }

    .fundador {
        max-width: 800px;
    }
}

.espacio {
    margin: 80px auto;

    .titulo {
        text-transform: uppercase;
        text-align: center;
    }

    .description {
        text-align: center;
    }
}



.sombra:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .main-section {
        .flex-card {
            align-items: center;
            flex-direction: column;

            .box-name {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
            }

            .parrafo {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
    }
}