// ESTILOS GENERALES

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: $basic-color;
    overflow-x: hidden;
}

// FORMULARIO

.linea-final {
    text-align: end;
}

.f-personal {
    background-color: $basic-color;
}

.i-pesonal {
    display: flex;
    justify-content: space-between;
}

.i-pesonal div {
    width: 49%;
}

// FOOTER

.p-personal {
    background-color: rgba(0, 0, 0, 0.5);
}

.mi-lista img {
    width: 40px;
}

.ul-personal li {
    list-style: none;
}
.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 20px;
        text-transform: uppercase;
        color: $color-text-footer;
    }
    .span {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .footer-contact {
        flex-direction: column;
    }
}

// SECCION IMAGENES GENERALES ( NO INDEX )

.img-barcas {
    width: 100%;
    object-fit: cover;
    box-shadow: 15px 15px 30px rgba(46, 45, 45, 0.8);
}

.accion {
    text-transform: uppercase;
}