// ESTILOS GENERALES

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: $basic-color;
}

// FORMULARIO

.linea-final {
    text-align: end;
}

.f-personal {
    background-color: $basic-color;
}

.i-pesonal {
    display: flex;
    justify-content: space-between;
}

.i-pesonal div {
    width: 49%;
}

// FOOTER

.p-personal {
    background-color: rgba(0, 0, 0, 0.5);
}

.mi-lista img {
    width: 40px;
}

.ul-personal li {
    list-style: none;
}

// SECCION IMAGENES GENERALES ( NO INDEX )

.img-barcas {
    width: 100%;
    object-fit: cover;
    box-shadow: 15px 15px 30px rgba(46, 45, 45, 0.8);
}

