

.h-index {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(128, 128, 128, 0.656)), url(../img/bg-image.jpg);
}

.h-barca {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(128, 128, 128, 0.656)), url(../img/bg-barca.jpg);
}

.h-pesca {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(128, 128, 128, 0.656)), url(../img/bg-pesca.jpg);
}

.h-turismo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(128, 128, 128, 0.656)), url(../img/bg-turismo.jpg);
}

.h-nosotros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(128, 128, 128, 0.656)), url(../img/equipo1.jpg);
}



