.header {
    
    background-position: center;
    background-size: cover;
}


.h-index {
    @extend .header;
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-image.jpg);
}

.h-barca {
    @extend .header;
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-barca.jpg);
}

.h-pesca {
    @extend .header;
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-pesca.jpg);
}

.h-turismo {
    @extend .header;
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-turismo.jpg);
}

.h-nosotros {
    @extend .header;
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/equipo1.jpg);
}

.img-logo {
    width: 50px;
    border-radius: 50%;
    padding-right: 8px;
}

.min-vh-50 {
    height: 50vmin;
}

// RESPONCIVE

@media (max-width: 580px) {
    .min-vh-50 {
        height: 60vmax;
    }
}