// SECCION EXPRIENCIA

.custom-comment {
    font-size: 35px;
    font-weight: 950;
    margin-top: 20px;
}

.custom-p {
    font-size: 18px;
    margin-top: 30px;
}

.card-img-filter {
    filter: brightness(0.6);
}

.card {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.anima-left {
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.anima-right {
    animation: slide-in-right 0.5s;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// SECCION COMENTARIO

.comentario {
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-comentario.jpg);
}

.d-item {
    height: 700px;
}

.c-img {
    height: auto;
    object-fit: cover;
    filter: brightness(0.6);
}

.main {
    background-color: $basic-color;
}