// SECCION EXPRIENCIA

.custom-comment {
    font-size: 48px;
    font-weight: 900;
    margin-top: 20px;
}

.custom-p {
    font-size: 18px;
    margin-top: 30px;
}

.card-img-filter {
    filter: brightness(0.6);
}

// SECCION COMENTARIO

.comentario {
    background-image: linear-gradient($gradient-uno, $gradient-dos), url(../img/bg-comentario.jpg);
}

.d-item {
    height: 700px;
}

.c-img {
    height: auto;
    object-fit: cover;
    filter: brightness(0.6);
}

.main {
    background-color: $basic-color;
}