
$basic-color: #a9a9a9;
$gradient-uno: #000000a6;
$gradient-dos:#808080a7;
$text-color-card: #000080;
$titulo-card: #ffcb47;
$bg-card: #1d74f79b;
$shadow-card: 0 0 25px $gradient-uno;
$shadow-card-2: 0 5px 15px rgba(0, 0, 0, 0.3);
$bg-formulario: #767474;
$color-cargo: black;
$color-text-footer: rgb(255, 187, 0);